<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backdrop Booth</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="IMG/Backdrop_Booth_logo.png" />
  </head>

  <body>
    <div class="h-screen flex flex-col" id="app">
      <div class="flex items-stretch justify-center max-h-32 [&_img]:h-full pt 10">
        <div><img src="IMG/Scan_Top.gif"></div>
      </div>

      <div class="flex items-stretch justify-between max-h-32 [&_img]:h-full px-20 ">
        <div><img src="IMG/Scan.gif"></div>
        <div class="shrink-0 cursor-pointer">
          <img :src="onlineObj.qrcode"  @click="clipOnlineObjText()">
        </div>
        <div><img src="IMG/Scan_Me.gif"></div>
      </div>

      <div class="flex-grow overflow-y-scroll p-4 grid grid-cols-[repeat(auto-fit,minmax(14rem,1fr))] gap-4">
        <div v-for="item in galleryImages" @click="previewImage.open(item.filePath)">
          <img :src="item.thumbnailUrl" class="w-full rounded cursor-pointer">
        </div>
      </div>

      <div class="fixed z-10 bottom-4 left-0 right-0 text-center">
        <button class="bg-red-500/75 hover:bg-red-500
          text-white rounded px-4 py-2" @click="selectFolder()">เลือกโฟลเดอร์</button>
      </div>

      <div v-if="previewImage.filePath" class="fixed inset-0 z-10 bg-black/90 p-4 flex flex-col gap-4">
        <div class="flex justify-center overflow-hidden"><img :src="previewImage.url" class="h-full rounded"></div>

        <div class="m-auto w-full max-w-[10rem] grid grid-cols-1 gap-4 [&_button]:py-3 [&_button]:rounded text-white">
          <button class="bg-red-500 hover:bg-red-700" @click="previewImage.close()">close</button>
        </div>
      </div>
      
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.5.1/peerjs.min.js"></script>
    <script src="renderer.js"></script>
  </body>
</html>
